.botao{
    margin-top: 20px;
}

.botao button{
    width: 100%;
    background-color: #13283C;
    border-radius: 2px;
    font-size: 15px;
    border: none;
    color: white;
    padding: 17px 30px;

}

.botao button:hover{
    border: 2px solid #f7f7f7;
}