.section{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    max-width: 100%;
}

.section form{
    padding: 180px 50px;
    max-width: 500px;
    width: 100%;
}